<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard </a>
        
        {% if in_profile %}
        <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' user.id %}"> Edit Profile </a>
        {% else %}
        <a class="list-group-item {% if '/create_profile/' in request.path %}active{% endif %}" href="{% url 'create_profile' user.id %}"> Create Profile </a>
        {% endif %}
        <a class="list-group-item {% if '/my_order/' in request.path %}active{% endif %}" href="{% url 'my_order' %}"> My Order </a>
        
        <a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}" href="{% url 'change_password' %}">Change Password </a>
        {% comment %} <a class="list-group-item {% if '/my_order/' in request.path %}active{% endif %}" href="{% url 'my_order' %}"> My Order </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}"> Edit Profile </a>
        <a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}" href="{% url 'change_password' %}">Change Password </a>
    </ul> {% endcomment %}
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>